<h1> Trends </h1>
<h3><%= link_to "Post New Trend", new_trend_path %></h3>


<% @trends.each do |trend| %>
  <a href="/trends/<%= trend.id%>">
    <h2> <%= trend.title %> </h2>
    <img src='<%= trend.photo_url %>' alt="<%= trend.title %>'s image" />
  </a>
<%end%>
