<%= link_to "Back", :back %>

<h1> Post New Trend </h1>

<%= form_for @trend do |f| %>

  <p>
     <%= f.label :title %><br>
     <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_url %><br>
    <%= f.text_area :photo_url %>
  </p>
  <p>
    <%= f.label :ref_link %><br>
    <%= f.text_area :ref_link %>
  </p>

  <%= f.submit %>
<% end %>
