<% link_to 'Back', :back %>
<h1><%= @trend.title%></h1>
<img src='<%= @trend.photo_url %>' alt="<%= @trend.title %>" />
<h4> <%= @trend.description %> <h4>
<a href='<%= @trend.ref_link %>' target="_blank"> Find Out More </a>


<%# @comments.each do |comment| %>

<%#end%>
